---
const { title } = Astro.props;

import { Icon } from 'astro-icon/components'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<header class="h-16 flex items-center">
			<div class="container flex  rounded-2xl flex-row items-center justify-between max-w-[1200px] mx-auto">
				<img src="/d.svg" alt="">
				<a class="relative group text-gray-400 font-extrabold hover:text-[#50d71e] uppercase flex flex-row items-center" href="#">
					Idioma de la página: español
					<Icon name="mdi:chevron-down"/>

					<div class="hidden group-hover:block absolute top-7">
						opciones de menu
					</div>
				</a>
			</div>
		</header>
		<slot/>
	</body>
</html>